
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/*
base applies style globally to the project
components specific parts like cards
utilities - typography , font size , color

*/
@theme {
    --color-lightest: #c7cee3;
    --color-lighter: #a9b7d2;
    --color-primary: #4a6ba1;
    --color-dark: #2e4b78;
    --color-darker: #0a2248;
    --color-darkest: #121b2b;
    --font-bebas: "Bebas Neue", sans-serif;
    --font-noto-sans-f: "Noto Sans", sans-serif;
    --font-inter : "Inter",sans-serif;
    --font-work-sans-f: "Work Sans", sans-serif;
}


@layer utilities {
    .font-bebas {
        font-family: var(--font-bebas);
        font-weight: 400;
        font-style: normal;
    }
    .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }

    .noto-sans-f {
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }
    
    .work-sans-f {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight:700;
        font-style: normal;
}
}


html {
  scroll-behavior: smooth;
}


@layer components {

    
    .hovers{
        @apply hover:border-cyan-700 transition;
    }
}



