
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/*
base applies style globally to the project
components specific parts like cards
utilities - typography , font size , color

*/
@theme {
    --color-lightest: #c7cee3;
    --color-lighter: #a9b7d2;
    --color-primary: #4a6ba1;
    --color-dark: #2e4b78;
    --color-darker: #0a2248;
    --color-darkest: #121b2b;
    --font-bebas: "Bebas Neue", sans-serif;
    --font-noto-sans-f: "Noto Sans", sans-serif;
    --font-inter : "Inter",sans-serif;
}


@layer utilities {
    .font-bebas {
        font-family: var(--font-bebas);
        font-weight: 400;
        font-style: normal;
    }
    .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }

    .noto-sans-f {
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }
}


@layer base {
    /*h3 {
        @apply text-center font-noto-sans-f text-c6 font-extrabold text-[50px];
    }*/

}

@layer components {

    /*.card{
        @apply px-30 h-110 w-180 p-10 m-20 bg-c3 rounded-3xl ;
    }
    .card {
        @apply px-4 sm:px-8 h-auto w-full max-w-screen-md p-6 m-4 bg-c3 rounded-3xl;
    }

    .weather {
        @apply text-center font-bebas font-extrabold text-[50px];
    }

    #p1 {
        @apply text-center font-noto-sans-f text-xl text-c3;
    }*/
}



